.container {
  background: #F5F5F5;
  width: 100vw;
  min-height: calc(100vh - 20px);
}

.h-full {
  min-height: 100vh;
}

.bg-white {
  background: #FFF;
}

.poster-create-top {
  height: 50vh;
}

.poster-create-top .change-upload {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  width: 100%;
}

.poster-create-top .change-upload img {
  width: 1.6rem;
  height: 1.24rem;
}

.poster-create-top .change-upload p {
  color: #E1E5EB;
  font-size: 14px;
}

.poster-create-bottom {
  height: 50vh;
  margin: 0 0.75em;
}

.poster-create-bottom a.belles-lettres {
  padding: .267rem 0;
  width: 100%;
  display: block;
  text-align: right;
  font-size: 15px;
  color: #1684B2;
}

.poster-create-bottom textarea {
  border: none;
  width: 100%;
  background: #F5F5F5;
  font-size: 14px;
}

