
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";
body {
    background: $body-bg;
}
.container {
    background: $body-bg;
    width: 100vw;
    min-height: calc(100vh - 20px);
}
.poster-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.h-full {
    min-height: 100vh;
}
.bg-white {
    background: #FFF;
}
.poster-create-top {
    height: 50vh;

    .change-upload {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100%;

        img {
            width: 1.6rem;
            height: 1.24rem;
        }
        p {
            color: #E1E5EB;
            font-size: 14px;
        }
    }
}
.weui-panel__hd {
    display: flex;
    justify-content: space-between;
}
a.picture-more {
    color: #1684B2;
}

.poster-create-bottom {
    height: 46.7vh;
    margin: 0 0.75em;
    
    a.belles-lettres {
        text-align: right;
        font-size: 15px;
        color: #1684B2;
        position: absolute;
        right: 1.2em;
    }

    textarea {
        border: none;
        width: 100%;
        font-size: 14px;
    }

    p {
        font-size: 14px;
        text-align: center;
        margin: 3.3vh 0;
    }
}
.bg {
    background-image: url('/images/templete.png');
    background-size: 100% 100%;
}
.gallery {
    display: flex;
    justify-content: space-around;
    margin: .533rem;
}
.gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 7.5px;

    img {
        margin-top: 5px;
    }
}